# interface-web-selection://dockerignore
# licensed under the terms of the [MIT License](https://github.com/revaturecloud/interface-web-selection/blob/master/LICENSE).

# DIRECTORY - ROOT
# exclude - filepath
.vagrant
.vscode
dist
node_modules
tmp

# exclude - filename
.dockerignore
.gitignore
CHANGELOG*
CONTRIBUTING*
docker*
LICENSE*
README*
ubuntu*
vagrant*

e2e/*.js
e2e/*.map
src/app/**/*.js
src/app/**/*.js.map
